@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

*{
    margin: 0; /* "margin" is used to create space around the elements; outside of any defined borders. */
    padding: 0; /* "padding" is the space between an element and its border; used to create internal spacing within the element. ***Here padding for top bottom left and right are set to zero.*** */
    box-sizing: border-box; /* "box-sizing" determines how the width and the height of an element are calculated, "border-box" indicates that the padding and border are included.*/
    font-family: "Funnel Display", sans-serif; /* "font-family" simply specifies the font used on an element.*/
}

/*Styling for whole site*/
ul{
    list-style: none; /* "list-style" is a shorthand property that is used to set all list properties in one declaration. "none" removes any styling, For example, bullets or numbers. */
}

a{
    text-decoration: none; /* "text-decoration" is used to style the appearance of decorative lines on text such as underlines, overlines, and line-throughs. */
}

button{
    cursor: pointer; /* "cursor" controls the appearance of the mouse cursor when it hovers over an element. */
    border: none; /* "border" allows the customization of the element's border width style and color. */
    background: none; /* "background" allows the customization of the background of the element.*/
}

img{
    width: 100%; /* "width" sets the width of an element. */
}

.section-content{
    margin: 0 auto;
    padding: 0 20px; /* Padding here is set to top and bottom are 0px and right and left are set to 25px. */
    max-width: 1300px; /* "max-width" sets the maximum width of an element. */
}

/*Styling for navbar*/
header{
    position: fixed; /* "position" specifies the type of positioning method for an element. "fixed" means the element is always in the same place even if the page is scrolled. */
    width: 100%;
    z-index: 5; /* "z-index" specifies the stack order of an element. An element with greater stack order is always in front of an element with a lower stack order. */
    background-color: rgb(0, 75, 122);
}

header .navbar{
    display: flex; /* "display" specifies the display behavior of an element. "flex" displays an element as a block-level flex container (I'd look this one up for a visual example.) */
    padding: 20px;
    align-items: center; /* "align-items" specifies the default alignment for items inside a flexbox or grid container. "center' being the center of the screeen. 
                            (again visual example will better explain it.) */
    justify-content: space-between; /* "justify-content" is used to align items with a flex container along a main axis. "space-between" being the items will have space between them.
                                    (see a visual example.) */
}

.navbar .nav-logo .logo-text{
    color: white;
    font-size: 2rem;
    font-weight: 600; /* "font-weight" specifies the boldness of the text. */
}

.navbar .nav-menu{
    display: flex;
    gap: 10px; /* "gap" is used to specify the gap between rows and columns in a flexbos, grid, or multi-column layout. */
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    background-color:rgb(75, 75, 75);
    color: white;
    border-radius: 100px 0%; /* "border-radius" defines the radius of the elements corners. 100px meaning the actual border radius for all corners, and 0% being how rounded it is. */
    transition: 0.3s ease; /* "transition" allows you to change property values smoothly, over a given duration. "ease" specifies an effect with a slow start, then fast, then end slowly.  */
}

.navbar .nav-menu .nav-link:hover{ /* "hover" means whenever the cursor is hovering over the element. */
    color:rgb(0, 0, 0);
}

/* Main section styling */
.main-section {
    min-height: 100vh;
    background-color:rgb(41, 41, 41);
}

.container{
    position: relative;
}

.mySlides{
    display: none;
}

.cursor{
    cursor: pointer;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

.numbertext{
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container{
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 16.66%;
}

.demo{
    opacity: 0.6;
}

.active, .demo:hover{
    opacity: 1;
}

.caption{
    color: white;
}